
    <div class="card-body demo-vertical-spacing">
        <div class="row">
            <div class="col-sm-4 mb-3">
                Year: <select class="selectpicker" data-style="btn-primary">
                    <option>2018</option>
                    <option>2017</option>
                    <option>2016</option>
                </select>
            </div>
            <div class="col-lg-12">
                <div class="demo-inline-spacing mt-3">
                    <button type="button" id="1" class="btn btn-secondary">Jan-Rent</button>
                    <button type="button" id="2" class="btn btn-secondary">Feb-Rent</button>
                    <button type="button" id="3" class="btn btn-secondary">Mar-Rent</button>
                    <button type="button" id="4" class="btn btn-secondary">Apl-Rent</button>
                    <button type="button" id="5" class="btn btn-secondary">May-Rent</button>
                    <button type="button" id="6" class="btn btn-secondary">Jun-Rent</button>
                    <button type="button" id="7" class="btn btn-primary">Jul-Rent</button>
                    <button type="button" id="8" class="btn btn-secondary">Aug-Rent</button>
                    <button type="button" id="9" class="btn btn-secondary">Sep-Rent</button>
                    <button type="button" id="10" class="btn btn-secondary">Oct-Rent</button>
                    <button type="button" id="11" class="btn btn-secondary">Nov-Rent</button>
                    <button type="button" id="12" class="btn btn-secondary">Dec-Rent</button>
                </div>
            </div>
        </div>
    </div>
