

<div class="card mb-12">
    <div class="row no-gutters">

            <div class="demo-inline-spacing mt-3">
                <a href="/Property/Edit?PropertyId=@ViewBag.PropertyId" class="btn btn-primary">Edit Property</a>
                <a href="/Property/RepairList?PropertyId=@ViewBag.PropertyId"class="btn btn-primary">Repairs</a>


        </div>
    </div>
</div>
